<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Details Page</title>
</head>
<body>
    <h1> <%= book.title %></h1>
 
    <ul>
        <li>Author: <%= book.author %></li>
        <li>Publisher: <%= book.publisher %></li>
        <li>Website: <%= book.website %></li>
        <li>Date: <%= book.date %></li>
    </ul>
    <a href="/bookinventory/list">All Books</a>

</body>
</html>